## This is the build configuration file

# Android sign file path
storeFile=path
# Android sign file password
storePassword=string
# Android sign configuration key alias
keyAlias=string
# Android sign key password
keyPassword=string

# Android build target SDK
targetSdk=int
# Configure the lowest level of native library to print log, the default is 3
logLevel=int

emulatorTest=boolean